<nav-bar></nav-bar>
<div class="ui left fixed vertical menu" style="margin-top: 2.90em; overflow-y:scroll; width: 14em !important;">
    <campaign-new></campaign-new>
    <sm-accordion>
        <div class="ui vertical accordion menu" style="margin: 0px;">
            <div class="item">
                <a class="active title">
                    <i class="dropdown icon"></i>
                    Customer A
                </a>
                <div class="content">
                    <a class="item">Campaign A</a>
                    <a class="item">Campaign B</a>
                    <a class="item">Campaign C</a>
                    <a class="item">Campaign D</a>
                </div>
            </div>
        </div>
    </sm-accordion>
    <sm-accordion>
        <div class="ui vertical accordion menu" style="margin: 0px;">
            <div class="item">
                <a class="active title">
                    <i class="dropdown icon"></i>
                    Customer B
                </a>
                <div class="content">
                    <a class="item">Campaign W</a>
                    <a class="item">Campaign X</a>
                    <a class="item">Campaign Y</a>
                    <a class="item">Campaign Z</a>
                </div>
            </div>
        </div>
    </sm-accordion>
    <sm-accordion>
        <div class="ui vertical accordion menu" style="margin: 0px;">
            <div class="item">
                <a class="active title">
                    <i class="dropdown icon"></i>
                    Customer C
                </a>
                <div class="content">
                    <a class="item">Campaign W</a>
                    <a class="item">Campaign X</a>
                    <a class="item">Campaign Y</a>
                    <a class="item">Campaign Z</a>
                </div>
            </div>
        </div>
    </sm-accordion>
</div>
<div class="ui container" style="margin-left: 15em !important; width: auto !important; position: relative">
    <div class="ui ten column fluid grid">
        <div class="ten column centered row">
            <h1 class="ui header">[Customer Name] - [Campaign Name] Overview</h1>
        </div>
        <div class="four wide left aligned fluid column">
            <div class="ui relaxed divided list">
                <div class="item">
                    <div class="content">
                        <a class="header">Projected Revenue</a>
                        <div class="description">$250,000</div>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <a class="header">Campaign Strength</a>
                        <div class="description">Commit</div>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <a class="header">Start Date</a>
                        <div class="description">Monday, June 6, 2016</div>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <a class="header">Expected Close Date</a>
                        <div class="description">Friday, Sept 30, 2016</div>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <a class="header">Solution Summary</a>
                        <div class="description">XIO for Oracle DB</div>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <a class="header">Close Status</a>
                        <div class="description">Pending</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="seven wide right aligned fluid column">
            <h2 class="ui header center aligned">Campaign Progress</h2>
            <div class="ui seven wide column centered aligned">
                <sm-progress class="indicating active" [progress]="60"></sm-progress>
            </div>
            <div class="ui hidden divider"></div>
            <h3 class="ui center aligned header">Milestones & Tasks</h3>
            <table class="ui compact celled table">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Owner</th>
                    <th>Completed</th>
                </tr>
                </thead>
                <tbody style="overflow-y:scroll">
                <tr>
                    <td>6/21/16</td>
                    <td>XIO Demo & 101 Preso</td>
                    <td>Joe the SE</td>
                    <td class="center aligned">
                        <div class="ui fitted checkbox">
                            <input type="checkbox" checked="">
                            <label></label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>6/30/16</td>
                    <td>XIO Technical Deep Dive</td>
                    <td>Joe the SE</td>
                    <td class="center aligned">
                        <div class="ui fitted checkbox">
                            <input type="checkbox" checked="">
                            <label></label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>7/11/16</td>
                    <td>Business Value & ROI</td>
                    <td>Bill the Sales Guy</td>
                    <td class="center aligned">
                        <div class="ui fitted checkbox">
                            <input type="checkbox" checked="">
                            <label></label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>8/10/16</td>
                    <td>Customer Commit & Transaction Scheduling</td>
                    <td>Bill the Sales Guy</td>
                    <td class="center aligned">
                        <div class="ui fitted checkbox">
                            <input type="checkbox">
                            <label></label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>9/30/16</td>
                    <td>Receive PO</td>
                    <td>Bill the Sales Guy</td>
                    <td class="center aligned">
                        <div class="ui fitted checkbox">
                            <input type="checkbox">
                            <label></label>
                        </div>
                    </td>
                </tr>
                </tbody>
                <tfoot class="full-width">
                <tr>
                    <th colspan="4">
                        <button class="ui right floated small primary labeled icon button" (click)="addTask()">
                            <i class="add square icon"></i> Add Task
                        </button>
                    </th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
