<nav-bar></nav-bar>
<div class="ui left fixed vertical menu" style="margin-top: 2.90em; overflow-y:scroll; width: 14em !important;">
    <campaign-new (campaignCreated)="campaignCreated($event)"></campaign-new>
    <sm-accordion>
        <div class="ui vertical accordion menu" style="margin: 0px;">
            <div class="item">
                <a class="active title">
                    <i class="dropdown icon"></i>
                    Customer A
                </a>
                <div class="content">
                    <a class="item">Campaign A</a>
                    <a class="item">Campaign B</a>
                    <a class="item">Campaign C</a>
                    <a class="item">Campaign D</a>
                </div>
            </div>
        </div>
    </sm-accordion>
    <sm-accordion>
        <div class="ui vertical accordion menu" style="margin: 0px;">
            <div class="item">
                <a class="active title">
                    <i class="dropdown icon"></i>
                    Customer B
                </a>
                <div class="content">
                    <a class="item">Campaign W</a>
                    <a class="item">Campaign X</a>
                    <a class="item">Campaign Y</a>
                    <a class="item">Campaign Z</a>
                </div>
            </div>
        </div>
    </sm-accordion>
    <sm-accordion>
        <div class="ui vertical accordion menu" style="margin: 0px;">
            <div class="item">
                <a class="active title">
                    <i class="dropdown icon"></i>
                    Customer C
                </a>
                <div class="content">
                    <a class="item">Campaign W</a>
                    <a class="item">Campaign X</a>
                    <a class="item">Campaign Y</a>
                    <a class="item">Campaign Z</a>
                </div>
            </div>
        </div>
    </sm-accordion>
</div>
<div *ngIf="currentCampaign == null" class="ui container" style="margin-left: 15em !important;
        width: auto !important; margin-top: 3.5em; position: relative">
    <h1 class="ui header center aligned">No Existing Campaigns to Display</h1>
    <h2 class="ui header center aligned">Create One Using the Button on the Left</h2>
</div>
<div *ngIf="currentCampaign != null" class="ui container" style="margin-left: 15em !important;
        width: auto !important; margin-top: 3.5em; position: relative">
    <div class="ui ten column fluid grid">
        <div class="four wide left aligned fluid column">
            <div class="ui relaxed divided list">
                <div class="item">
                    <div class="content">
                        <a class="header">Projected Revenue</a>
                        <div class="description">${{currentCampaign.revenue}}</div>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <a class="header">Campaign Strength</a>
                        <div class="description">{{currentCampaign.strength}}</div>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <a class="header">Start Date</a>
                        <div class="description">{{currentCampaign.startDate | date:'mediumDate'}}</div>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <a class="header">Expected Close Date</a>
                        <div class="description">{{currentCampaign.closeDate | date:'mediumDate'}}</div>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <a class="header">Solution Summary</a>
                        <div class="description">{{currentCampaign.summary}}</div>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <a class="header">Close Status</a>
                        <div class="description">{{currentCampaign.closeStatus}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="seven wide right aligned fluid column">
            <h1 class="ui header center aligned">[Customer Name] - {{currentCampaign.name}} Overview</h1>
            <h2 class="ui header center aligned">Campaign Progress</h2>
            <div class="ui seven wide column centered aligned">
                <sm-progress class="indicating active" [progress]="80"></sm-progress>
            </div>
            <div class="ui hidden divider"></div>
            <h3 class="ui center aligned header">Milestones & Tasks</h3>
            <table class="ui compact celled table">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Owner</th>
                    <th>Completed</th>
                </tr>
                </thead>
                <tbody style="overflow-y:scroll">
                <tr>
                    <td>6/21/16</td>
                    <td>XIO Demo & 101 Preso</td>
                    <td>Joe the SE</td>
                    <td class="center aligned">
                        <div class="ui fitted checkbox">
                            <input type="checkbox" checked="">
                            <label></label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>6/30/16</td>
                    <td>XIO Technical Deep Dive</td>
                    <td>Joe the SE</td>
                    <td class="center aligned">
                        <div class="ui fitted checkbox">
                            <input type="checkbox" checked="">
                            <label></label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>7/11/16</td>
                    <td>Business Value & ROI</td>
                    <td>Bill the Sales Guy</td>
                    <td class="center aligned">
                        <div class="ui fitted checkbox">
                            <input type="checkbox" checked="">
                            <label></label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>8/10/16</td>
                    <td>Customer Commit & Transaction Scheduling</td>
                    <td>Bill the Sales Guy</td>
                    <td class="center aligned">
                        <div class="ui fitted checkbox">
                            <input type="checkbox" checked="">
                            <label></label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>9/30/16</td>
                    <td>Receive PO</td>
                    <td>Bill the Sales Guy</td>
                    <td class="center aligned">
                        <div class="ui fitted checkbox">
                            <input type="checkbox">
                            <label></label>
                        </div>
                    </td>
                </tr>
                </tbody>
                <tfoot class="full-width">
                <tr>
                    <th colspan="4">
                        <button class="ui right floated small primary labeled icon button" (click)="addTask()">
                            <i class="add square icon"></i> Add Task
                        </button>
                    </th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
