<nav-bar></nav-bar>
<div class="ui left fixed vertical menu" style="margin-top: 2.90em; overflow-y:scroll; width: 14em !important;">
    <sm-accordion>
        <div class="ui vertical accordion menu" style="margin: 0px;">
            <div class="item">
                <a class="active title">
                    <i class="dropdown icon"></i>
                    Customer A
                </a>
                <div class="content">
                    <a class="item">Campaign A</a>
                    <a class="item">Campaign B</a>
                    <a class="item">Campaign C</a>
                    <a class="item">Campaign D</a>
                </div>
            </div>
        </div>
    </sm-accordion>
    <sm-accordion>
        <div class="ui vertical accordion menu" style="margin: 0px;">
            <div class="item">
                <a class="active title">
                    <i class="dropdown icon"></i>
                    Customer B
                </a>
                <div class="content">
                    <a class="item">Campaign W</a>
                    <a class="item">Campaign X</a>
                    <a class="item">Campaign Y</a>
                    <a class="item">Campaign Z</a>
                </div>
            </div>
        </div>
    </sm-accordion>
    <sm-accordion>
        <div class="ui vertical accordion menu" style="margin: 0px;">
            <div class="item">
                <a class="active title">
                    <i class="dropdown icon"></i>
                    Customer C
                </a>
                <div class="content">
                    <a class="item">Campaign W</a>
                    <a class="item">Campaign X</a>
                    <a class="item">Campaign Y</a>
                    <a class="item">Campaign Z</a>
                </div>
            </div>
        </div>
    </sm-accordion>
</div>
<!--<div class="ui grid container" style="padding-left: 82px">-->
<div class="ui container" style="margin-left: 15em !important; width: auto !important; position: relative">
    <div class="ui fluid grid">
        <div class="ten wide column fluid">
            <h2 class="ui center aligned middle aligned">Campaign Home Place Holder</h2>
        </div>

    </div>


</div>
