<button class="ui primary button fluid" (click)="show()">
    <i class="edit icon"></i> New Campaign
</button>
<div class="ui modal" #modal>
    <div class="header">
        Create New Campaign
    </div>
    <form #newCampaignForm="ngForm" [formGroup]="form" class="ui small form" (ngSubmit)="save()">
        <div class="ui segment raised left aligned centered ten wide">
            <div class="two fields">
                <div class="field four wide">
                    <label for="campaignName">Campaign Name</label>
                    <input formControlName="campaignName" type="text" name="campaignName"
                           id="campaignName" required [(ngModel)]="newCampaign.name"/>
                </div>
                <div class="field four wide">
                    <label for="revenue">Projected Revenue</label>
                    <input formControlName="revenue" type="number" min="0" max="999999999"
                           name="revenue" id="revenue" required [(ngModel)]="newCampaign.revenue"/>
                </div>
            </div>
            <div class="two fields">
                <div class="field four wide">
                    <label for="campaignStrength">Campaign Strength</label>
                    <select formControlName="campaignStrength" name="campaignStrength"
                            id="campaignStrength" required [(ngModel)]="newCampaign.strength">
                        <option value="Commit">Commit</option>
                        <option value="Strong-Upside">Strong Upside</option>
                        <option value="Upside">Upside</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
                <div class="field four wide">
                    <label for="closeStatus">Campaign Status</label>
                    <select formControlName="closeStatus" name="closeStatus"
                            id="closeStatus" required [(ngModel)]="newCampaign.closeStatus">
                        <option value="In Progress">In Progress</option>
                        <option value="Awaiting PO">Awaiting PO</option>
                        <option value="On Hold">On Hold</option>
                        <option value="Closed - Lost">Lost</option>
                        <option value="Closed - Won">Won</option>
                        <option value="Closed - Cancelled">Cancelled</option>
                    </select>
                </div>
            </div>
            <div class="two fields">
                <div *ngIf="existingStartDate == null" class="field four wide">
                    <label for="startDate">Start Date</label>
                    <input formControlName="startDate" type="date" name="startDate"
                           id="startDate" required [(ngModel)]="newCampaign.startDate"/>
                </div>
                <div *ngIf="existingEndDate == null" class="field four wide">
                    <label for="expectedCloseDate">Expected Close Date</label>
                    <input formControlName="endDate" type="date" name="expectedCloseDate"
                           id="expectedCloseDate" required [(ngModel)]="newCampaign.closeDate"/>
                </div>
                <div *ngIf="existingStartDate != null" class="field four wide">
                    <label for="newStart">Start Date</label>
                    <input formControlName="newStartDate" type="date" name="newStart"
                           id="newStart" required [(ngModel)]="newCampaign.startDate"
                           [value]="existingStartDate | date:'yyyy-MM-dd'"/>
                </div>
                <div *ngIf="existingEndDate != null" class="field four wide">
                    <label for="newEnd">Start Date</label>
                    <input formControlName="newEndDate" type="date" name="newEnd"
                           id="newEnd" required [(ngModel)]="newCampaign.closeDate"
                           [value]="existingEndDate | date:'yyyy-MM-dd'"/>
                </div>
            </div>
            <div class="field eight wide">
                <label for="solutionSummary">Solution Summary</label>
                <input formControlName="solutionSummary" type="text" name="solutionSummary"
                       id="solutionSummary" [(ngModel)]="newCampaign.summary"/>
            </div>

            <div [hidden]="!submitError">
                <div class="ui grid center aligned message">
                    <small>
                        <i class="warning sign icon red"></i>
                        {{errorMessage}}
                        <i class="warning sign icon red"></i>
                    </small>
                </div>
            </div>
        </div>
        <div class="ui center aligned grid">
            <div class="center aligned two column row">
                <div class="column right aligned">
                    <button type="submit" class="ui primary button">Save</button>
                </div>
                <div class="column left aligned">
                    <a class="ui button" type="reset" (click)="hide()">
                        Cancel
                    </a>
                </div>
            </div>
        </div>
    </form>
</div>