.nav-bar {
  /*border: 1px solid red;*/
}

.container {
  margin: auto;
  margin-top: 10px;
  width: 80%;
  /*border: 1px solid red;*/
}

.box {
  border: 1px solid red;
}

.image-background {
  background-color: #212124;
  width:auto;
  height: 500px;
}

h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}

.campaign-menu {
  margin-top: 2.90em !important;
  overflow-y: scroll;
  width: 14em !important;
}

.campaign-accordion {
  margin: 0 !important;
}

#primary-content {
    margin-left: 15em !important;
    width: auto !important;
    margin-top: 3.5em;
    position: relative;
}