<h2 class="ui header center aligned">Campaign Progress</h2>
<div class="ui seven wide column centered aligned">
    <sm-progress class="indicating active" [progress]="campaignProgress"></sm-progress>
</div>
<div class="ui hidden divider"></div>
<h3 class="ui center aligned header">Milestones & Tasks</h3>
<table class="ui compact celled table" [mfData]="campaignTasks" #mf="mfDataTable" [mfRowsOnPage]="10">
    <thead>
    <tr>
        <th>
            <mfDefaultSorter by="dueDate">Due Date</mfDefaultSorter>
        </th>
        <th>
            <mfDefaultSorter by="description">Description</mfDefaultSorter>
        </th>
        <th>
            <mfDefaultSorter by="assignedTo">Assignee</mfDefaultSorter>
        </th>
        <th>
            <mfDefaultSorter by="completed">Completed</mfDefaultSorter>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of mf.data">
        <td>{{item.dueDate | date:'mediumDate'}}</td>
        <td>{{item.description}}</td>
        <td>{{item.assignedTo}}</td>
        <td class="center aligned">
            <div class="checkbox">
                <input type="checkbox" name="completed" [(ngModel)]="item.completed"
                       (change)="updateTask(item)">
                <label></label>
            </div>
        </td>
    </tr>
    </tbody>
    <tfoot class="full-width">
    <tr>
        <th colspan="4">
            <button class="ui right floated small primary labeled icon button" (click)="show()">
                <i class="add square icon"></i> Add Task
            </button>
        </th>
    </tr>
    </tfoot>
</table>
<div class="ui modal" #modal>
    <div class="header">
        Create New Task
    </div>
    <form #newTaskForm="ngForm" class="ui small form" (ngSubmit)="addTask()">
        <div [formGroup]="taskForm">
            <div class="ui segment raised left aligned centered ten wide">
                <div class="two fields">
                    <div class="field four wide">
                        <label for="description">Task Description</label>
                        <input formControlName="description" type="text" name="description"
                               id="description" required [(ngModel)]="newTask.description"/>
                    </div>
                    <div class="field four wide">
                        <label for="assignee">Assignee</label>
                        <input formControlName="assignee" type="text" name="assignee" id="assignee"
                               required [(ngModel)]="newTask.assignedTo"/>
                    </div>
                </div>
                <div class="two fields">
                    <div class="field four wide">
                        <label for="dueDate">Due Date</label>
                        <input formControlName="dueDate" type="date" name="dueDate"
                               id="dueDate" required [(ngModel)]="newTask.dueDate"/>
                    </div>
                    <div class="field four wide">
                        <label for="completed">Completion Status</label>
                        <select formControlName="completed" name="completed"
                                id="completed" required [(ngModel)]="newTask.completed">
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                    </div>
                </div>
                <div [hidden]="!submitError">
                    <div class="ui grid center aligned message">
                        <small>
                            <i class="warning sign icon red"></i>
                            {{errorMessage}}
                            <i class="warning sign icon red"></i>
                        </small>
                    </div>
                </div>
            </div>
            <div class="ui center aligned grid">
                <div class="center aligned two column row">
                    <div class="column right aligned">
                        <button type="submit" class="ui primary button">Save</button>
                    </div>
                    <div class="column left aligned">
                        <a class="ui button" type="reset" (click)="hide()">
                            Cancel
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>